.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
.venv/
venv/

data/*
!data/processed/
data/processed/*
!data/processed/.gitkeep
data/processed/*.csv
data/processed/*.json

output/
results/
log/
temp/

*.log
*.egg-info/
